<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/public/css/markdown-github.css">
<style>
  .panel .panel-heading .action i {
    margin-right: 10px;
  }
 

</style>
</head>

<body>
  {{include '../_includes/header.html'}}
  <section class="container">
  <div class="row">
    <div class="col-md-9">
        {{ if !topics }}
      <div class="alert alert-danger" role="alert">此话题不存在或已被删除。</div>
      {{ else }}
      <article class="markdown-body">
      <h1 id="_1"><a name="user-content-_1" href="#_1" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>{{ topics.title }}</h1>
      <p> 发布于 几秒前  作者 lipengzhou  1 次浏览  来自 客户端测试</p>
      <!-- 细节处理 -->
      {{ if topics.userId === user.id }}
      <p>
        <a href="/topic/{{ topics.id }}/edit">编辑</a>
        <a id="delete" href="/topic/{{ topics.id }}/delete">删除</a>
      </p>
      {{ /if }}
      <hr>
      <!-- 不转义输出 -->
      <div>{{@ topics.content }}</div>
      {{ /if }}
    </article>
      <!-- 评论列表 -->
    <div class="comment-container">
    </div>
    <!-- /评论列表 -->

    <!-- 评论分页 -->
    <ul id="pagination-demo">
      
    </ul>
    
      {{if !user}}
      <div class="alert alert-success" role="alert"><a href="/signin">登陆</a>之后才能发表评论</div>
      {{else}}
      <form  id = comment_form action="/topic/{{topics.id}}/comment" method="post">
        <div class="form-group">
          <label for="exampleInputPassword1">添加回复</label>
          <textarea class="form-control" name="content" id="" cols="10" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-success">回复</button>
      </form>
      {{/if}}
    </div>
  </div>
</section>
  {{include '../_includes/footer.html'}}
  <script src="/node_modules/jquery/dist/jquery.js"></script>
   <script src="/node_modules/jquery-form/dist/jquery.form.min.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/node_modules/art-template/lib/template-web.js"></script>
  <script src="/node_modules/twbs-pagination/jquery.twbsPagination.min.js"></script>
 <script type="text/template" id="tpl">
    <% comments.forEach(function (item, index) { %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <span>lipengzhou</span> commented 
          <span>24 minutes ago</span>
          <span class="action">
            <a href=""><i class="glyphicon glyphicon-thumbs-up pull-right"></i></a>
            <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
            <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
          </span>
        </div>
        <div class="panel-body">
          <%= item.content %>
        </div>
      </div>
    <% }) %>
  </script>
  <script type="text/javascript">
    var $commentForm = $('#comment_form');
    loadComments();

 //为删除注册点击事件
    $('#delete').on('click',function(e){
        e.preventDefault();
      //获取路径
      var url = $(this).attr('href');
      
      //确定是否要删除
      if(!window.confirm("Are You Ok?")){
        return;
      }

      //发送ajax请求
      $.post(url,function(data){
        var code = data.code
        //判断
        switch(code){
              case 0:
              window.location.href='/';
              break;
               case 1:
              window.alert('用户不存在或者已经被删除');
              break;
               case 2:
              window.alert('您没有操作的权限');
              break;   
          }


      })




    });






   // 1. 展示评论列表
    // 2. 发布评论

    $commentForm.on('submit', function (e) {
      e.preventDefault()
      $(this).ajaxSubmit({
        error: function (err) {
          if (err && err.status === 401) {
            window.alert('登陆状态已过期，请重新登录')
          }
        },
        success: function (data) {
          var code = data.code
          if (code === 0) {
            loadComments()
          }
        }
      })
    })

    function loadComments(page = 1) {
      var topicListUrl = $commentForm.attr('action')
      topicListUrl = topicListUrl + '?page=' + page

      $.get(topicListUrl, function (data) {
        var htmlStr = template('tpl', {
          comments: data.data
        })
        // 渲染列表数据
        $('.comment-container').html(htmlStr)

        // 渲染分页数据
        $('#pagination-demo').twbsPagination({
          totalPages: Math.ceil(data.count / 10),
          visiblePages: 5,
          onPageClick: function (event, page) {
            loadComments(page)
          }
        })
      })
    }






   




  </script>
</body>

</html>
